@layouts.principal(title = "Principal Places") {
    
  	<!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src=@routes.Assets.at("stylesheets/css/img/zunigaMini.png") style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Funeraria Zuñiga</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">97thfloor.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src=@routes.Assets.at("stylesheets/css/img/laraMini.jpg") style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Funeraria Lara</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">devgarage.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Yesterday • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src=@routes.Assets.at("stylesheets/css/img/santaMini.jpeg") style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Funeraria Santa Lucia</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">searchenginewatch.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Yesterday • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src=@routes.Assets.at("stylesheets/css/img/puertaCieloMini.jpg") style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Funeraria Puerta al Cielo</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">searchenginewatch.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src=@routes.Assets.at("stylesheets/css/img/golpeMini.jpg") style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Funeraria Golpe</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">betali.st</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Last week • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
    
}
		