@layouts.second(title = "Funerarias Home") {

<script type="text/javascript">
$(function () {
        //$('#myTabFunerarias a:last').tab('show')
    })
</script>

<style type="text/css">
    .imagen-div{
        height:200px;
        width:200px;
        overflow:hidden;
        border-radius:50%;
    }
</style>


<div class="row-fluid">
    <ul class="nav nav-tabs" role="tablist" id="myTabFunerarias">
        <li role="presentation" class="active">
            <a href="#misfunerarias" aria-controls="misfunerarias" role="tab" data-toggle="tab">Mis Funerarias</a>
        </li>
        <li role="presentation">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Nueva</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mapa</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="misfunerarias">
            <div class="row-fluid">
                <br/>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="modal" data-target="#myModal">
                                  Funeraria Los Cipreces
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="col-md-3">
                                    <figure>
                                        <img class="img-circle img-responsive imagen-div" alt="" src="http://www.aldorinternet.com/esculturaenpiedra/images/estelagran1.jpg">
                                    </figure>
                                </div>

                                <div class="col-md-9">
                                    <ul class="list-group">
                                        <li class="list-group-item">John Doe</li>
                                        <li class="list-group-item">Senior Software Engineer</li>
                                        <li class="list-group-item">google inc.</li>
                                        <li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
                                        <li class="list-group-item"><i class="fa fa-envelope"></i> john@@example.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <br/>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="modal" data-target="#myModal">
                                  Funeraria Carabaillo
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="col-md-3">
                                    <figure>
                                        <img class="img-circle img-responsive imagen-div" alt="" src="http://www.aldorinternet.com/esculturaenpiedra/images/estelagran1.jpg">
                                    </figure>
                                </div>

                                <div class="col-md-9">
                                    <ul class="list-group">
                                        <li class="list-group-item">John Doe</li>
                                        <li class="list-group-item">Senior Software Engineer</li>
                                        <li class="list-group-item">google inc.</li>
                                        <li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
                                        <li class="list-group-item"><i class="fa fa-envelope"></i> john@@example.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div role="tabpanel" class="tab-pane" id="home">
    <div class="row-fluid">
      <div class="col-md-8">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Datos de la Funeraria</h3>
            </div>
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputrol" class="col-sm-2 control-label">Componente</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputrol" placeholder="Rol">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputnombrerol" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputnombrerol" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputnombrerol" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputnombrerol" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputnombrerol" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputnombrerol" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputnombrerol" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputnombrerol" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputcoderol" class="col-sm-2 control-label">C&oacute;digo</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputcoderol" placeholder="C&oacute;digo">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-success ">Verificar</button>
                        </div>
                    </div>     
                </div>
            </div>
            <div class="col-md-12">
                <center><a href="#" class="btn btn-success">Guardar</a>
                    <a href="#" class="btn btn-primary">Cancelar</a></center>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h3>Categoria</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputrol" class="col-sm-4 control-label">Categoria</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                  <option>Categoria 1</option>
                                  <option>Categoria 2</option>
                                  <option>Categoria 3</option>
                                  <option>Categoria 4</option>
                                  <option>Categoria 5</option>
                              </select>
                          </div>
                      </div>   
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<div role="tabpanel" class="tab-pane" id="profile">
    <div class="row-fluid">
        <div class="col-md-3">
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th>Funeraria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Jacobo</td>
                    </tr>
                    <tr>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.9849508732104!2d-71.557188!3d-16.374728999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a10feca819f%3A0x3cdd16f504e03107!2sArequipa+Shopping+Center!5e0!3m2!1ses!2spe!4v1419464534977" width="800" height="600" frameborder="0" style="border:0"></iframe>
        </div>            
    </div>
</div>
</div>
</div>

<!-- MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Funeraria XXXXXXXXX</h4>
        </div>
        <div class="modal-body">
        <div class="row">
            
            <div class="col-md-12" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Funeraria Kristin A.Eschor</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Metro Manila,Philippines</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@@support.com">info@@support.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
    </div>
</div>
</div>
</div>
}
